<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Traveosoftconnectionstring"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TraveoSoftDB;Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>